<div class="post-line">

    {{ $dateFormat := "2 Jan 2006"}}
    {{ with .Site.Params.listDateFormat }}
    {{ $dateFormat = .}}
    {{ end }}

    <p class="line-date">{{ .Date | time.Format $dateFormat }} </p>

    <div>
        {{ $href := .RelPermalink }}
        {{ $isExternal := false }}
        {{ with .Params.originalUrl }}
            {{ $href = . }}
            {{ $isExternal = true }}
        {{ end }}

        <p class="line-title">
            <a href="{{ $href }}"{{ if $isExternal }} target="_blank" rel="noopener noreferrer"{{ end }}>
                {{ .Title }}
            </a>
        </p>

        {{ if .Site.Params.listSummaries }}
        <p class="line-summary"> {{ .Summary }} </p>
        {{ end }}
    </div>
</div>
